body {
    font-family: "Barlow";
     background-color: rgb(32, 32, 32);
}
.header {
    background-color: rgba(155, 123, 158, 0.92);
    position: sticky;
    width: 100%;
}

.header__title {
    font-size: 36px;
    display: inline-block;
}


.header__body {
    display: inline-block;
    margin-left: 100px;
    color: aliceblue;
}

.header__item {
    display: inline-block;
    font-size: 26px; 
    padding: 25px 30px;
    position: relative;
}
.header__item:not(:last-child) {
    margin-right: 50px;
}

.header__item:hover {
   background-color: rgba(226, 195, 242, 0.47);
}

.header__submenu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    background-color: rgba(125, 88, 141, 0.64);
}
.submenu {
    opacity: 0;
    translate: 0 10px;
    visibility: hidden;
    transition: all 0.3s;
    pointer-events: none;
}
.header__item:hover .submenu{
    opacity: 1;
    visibility:visible;
    translate: 0 0;
    pointer-events: all;
}
.submenu__item {
    font-size: 26px;
    padding: 15px;
    position: relative;
}

.submenu__item:hover {
   background-color: rgba(226, 195, 242, 0.47);
}

.submenu__item:not(:last-child) {
   margin-bottom: 10px;
}

.submenu__list {
    position: absolute;
    width: 200px;
    left: 100%;
    top: 0;
    background-color: rgba(125, 88, 141, 0.64);
}
.list-submenu {
    opacity: 0;
    translate: 0 10px;
    visibility: hidden;
    transition: all 0.5s;
}

.submenu__item:hover .list-submenu {
    opacity: 1;
    visibility: visible;
    translate: 0 0;
}


.list-submenu__item {
    font-size: 26px;
    padding: 15px;
}
.list-submenu__item:hover {
   background-color: rgba(226, 195, 242, 0.47);
}

/*  mane  */
 
.page {
    padding-top: 150px;
}

.page__container {
    max-width: 770px;
}
.page__container>*:not(:last-child) {
   margin-bottom: 30px;
}

.page__body >*:not(:last-child),
.body-page__list >*:not(:last-child){
    margin-bottom: 12px;
}
.title {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.5;
    color: rgba(246, 239, 236, 0.9);
}


.list__item {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color:hsla(0, 0%, 50%, 0.70)
}
.list__item {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color:hsla(0, 0%, 50%, 0.70);
  position: relative;
}
.list__item::before {
    content: url("../img/diamond.png");
    width: 16px;
    height: 16px;
    position: absolute;
    top: 0;
    left: -26px;
}

.footer__link {
    border: 1px solid;
    width: 50px;
    height: 50px;
    border-radius:50%;
     background-color: rgba(246, 239, 236, 0.9);
     background-image: url("../img/arrow-right.svg");
     background-position: center;
     background-repeat: no-repeat;
     rotate: -90deg;
}
.footer__link:hover {
    background-color: rgba(155, 123, 158, 0.92)
     
}
