.section-header {
    text-align: center;
  font-family: "InterDisplay", sans-serif;
   font-weight: 500;
}
.section-header__label {
    font-size: 16px;
    text-transform: uppercase;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.4);
    margin-bottom: 12px;
}

.section-header__title {
    font-size: 52px;
    line-height: 1.15;
    margin-bottom: 60px;
}

.section-header__icon {
    display: block;
    margin: 0 auto;
}

.link {
    font-size: 14px;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 10px 15px;
    line-height: 1.4;
    border-radius: 8%;
     font-family: "InterDisplay";
     font-weight: 500;

}