.header {
    padding: 40px 0;
    position: sticky;
    top: 0;
    z-index: 50;
}
.header::after {
    content: "";
    left: 0;
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: #fff;
    height: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

}

.header__container {
    display: flex;
    align-items: center;  
    gap: 15px;  
}

.header__logo {
    font-family: "Lobster", sans-serif;
    font-size: 24px;
    flex: 0 0 200px;
    z-index: 5;
}
.header__logo span{
    color:#FF7426;
}

.header__menu {
    flex-grow: 1;
}

.menu__body {
    position: relative;
    z-index: 2;
    transition: left 0.5s;
}

[data-menu-open] .menu__body {
    left: 0;
}
.menu__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px 60px;
    flex-wrap: wrap;
}

.menu__link {
    position: relative;
    line-height: 1.2;
}
.menu__link::after {
   content: "";
   position: absolute;
   height: 1px;
   width: 0;
   top: 100%;
   left: 50%;
   transition: all 0.3s;
   background-color: #000;
}
.menu__link:hover::after {
  
   width: 100%;
   left: 0;
}

.icon-menu {
    display: none;
}
.header__social {
    flex: 0 0 200px;
    z-index: 5;
}
.social {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 40px;
    row-gap: 10px;
    flex-wrap: wrap;
}


@media(width < 740px) {
    .header {
    padding: 20px 0;
    }
    .header::after  {
    z-index: 4;
    }
    .header__logo {
        order: 1;
        flex: 0 0 auto;
    }
    .header__social {
        order: 2;
        flex: 1 0 auto;
    }
    .menu {
        order: 3;
        flex-grow: 0;
    }
    .menu__body {
        overflow: auto;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 100%  ; 
        background-color: #fff;
        padding: 90px 15px 30px;
    }
    .icon-menu {
        width: 40px;
        display: block;
        flex-shrink: 0;
        height: 18px;
        position: relative;
        z-index: 5;
    }
    .icon-menu::before,
    .icon-menu::after, 
    .icon-menu span {
        content: "";
        height: 2px;
        position: absolute;
        width: 100%;
        background-color: #000;
        right: 0;
        transition: all 0.3s;
    }
    .icon-menu::before {
        top: 0;
    }
    .icon-menu::after {
        bottom: 0;
    }
    .icon-menu span {
        top: 50%;
        translate: 0 -50%;
    }
    .social {
        column-gap: 20px;
    }
    .menu__list {
        flex-direction: column;
        gap: 35px 0;
    }
    .menu__link {
        font-size: 28px;
    }
    [data-menu-open]  .icon-menu::before {
        rotate: -45deg;
        top: 50%;
        translate: 0 -50%;

    }
    [data-menu-open]  .icon-menu::after {
         rotate: 45deg;
         bottom: 50%;
       translate: 0 50%;

    }
    [data-menu-open]  .icon-menu span {
        width: 0;
    }
}